MONGODB_URI=mongodb://localhost:27017/hexa-iq-test
JWT_SECRET=your_jwt_secret_key_here
ADMIN_EMAIL=praphulla@hexamatics.com
ADMIN_PASSWORD=Asim@1212
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_app_password
FRONTEND_URL=http://localhost:3000
PORT=5000
NODE_ENV=development
